.text-small{
    font-size: xx-small;
  }
  .logo-circle {
    position: absolute;
    bottom: 0px; 
    left: 52%;
    transform: translateX(-50%);
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    overflow: hidden;
  }